.DS_Store
.classpath
.project
.settings
bin
gen
target
.idea
.gradle
*.iml
build
local.properties
crashlytics-build.properties
com_crashlytics_export_strings.xml
.ruby-version
captures
/libs

#Cucumber files
elmclass/src/cucumber/Logs/log*.txt
elmclass/src/cucumber/Screenshots/*.png
elmclass/src/cucumber/temp/**
elmclass/src/cucumber/execute_intents.sh
deviceinfo.json
.bundle

#Appium
elmclass/src/cucumber/features/support/appium.txt
elmclass/src/cucumber/features/support/appium_override.txt

elmclass/src/main/res/raw/keystore.*
elmclass/src/main/res/raw/*.crt
elmclass/src/main/res/raw/*.pem
elmclass/src/main/res/xml/network_security_config.xml
