.DS_Store
.classpath
.project
.settings
bin
gen
target
.idea
.gradle
*.iml
build
local.properties
crashlytics-build.properties
com_crashlytics_export_strings.xml
.ruby-version
captures
/libs
elmclass/src/main/res/raw/keystore.pkcs12
elmclass/src/main/res/raw/ca.crt

#Cucumber files
elmclass/src/cucumber/Logs/log*.txt
elmclass/src/cucumber/Screenshots/*.png
elmclass/src/cucumber/temp/**
elmclass/src/cucumber/execute_intents.sh
deviceinfo.json
.bundle

#Appium
elmclass/src/cucumber/features/support/appium.txt
elmclass/src/cucumber/features/support/appium_override.txt
