.DS_Store
.classpath
.project
.settings
bin
gen
target
.idea
.gradle
*.iml
build
local.properties
crashlytics-build.properties
com_crashlytics_export_strings.xml
.ruby-version
captures
/libs

#Cucumber files
app/src/cucumber/Logs/log*.txt
app/src/cucumber/Screenshots/*.png
app/src/cucumber/temp/**
app/src/cucumber/execute_intents.sh
deviceinfo.json
.bundle


#Appium
app/src/cucumber/features/support/appium.txt
app/src/cucumber/features/support/appium_override.txt
